
/* Your CSS Code here. */
input{
	height:25px;
	
	
}
body{
	background-color:lightyellow;
	margin:5px;
	padding:3px;
	box-sizing:border-box:
	
}
button{
	height:23px;
	width:450px;
	background-color:yellowgreen;
	
	
}